* {
  margin: 0;
  box-sizing: border-box;
}
.App {
  position: relative;
  text-align: center;
  background: goldenrod;
  width: 100vw;
  height: 100vh;
  color: rgb(245, 245, 245);
  font-family: monospace;
}

h1 {
  font-size: 32px;
}
header {
  width: 100vw;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

main {
  background: rgb(245, 245, 245);
  position: relative;
  color: goldenrod;
  margin-top: 10px;
  margin: auto;
  width: 80vw;
  height: 75vh;
  border-radius: 10px;
}

table {
  width: 100%;
  font-size: 18px;
  padding: 10px;
}

.botoes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  bottom: 10px;
}

button {
  color: rgb(245, 245, 245);
  background-color: goldenrod;
  border: none;
  font-size: 18px;
  border-radius:3px  ;
  font-family: monospace;
  width: 120px;
  height: 60px;
}

footer {
  font-size: 18px;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 60px;
}
